* {
    font-size: 16px;
    font-family: "MistyTxt";
}

.split-screen {
    display: flex;
    height: 90vh;
}

.container {
    display: flex;
}

.left-half {
    flex-basis: 35%;
}

.right-half {
    flex-basis: 65%;
}

.property {
    width: 50%;
    max-width: 50%;
}

span {
    font-size: 15px;
}
