<div>
  <!-- <ul>
    <li>Hay 3 edades en el juego.</li>
    <li>Tienes mazos de unidades y mazos de edificios/eventos para cada edad.</li>
    <li>Tu mazo puede contener hasta 60 cartas, incluyendo el centro urbano que es tu carta vital.</li>
    <li>Si la vida del centro urbano llega a cero, pierdes.</li>
    <li>Un mazo equilibrado tiene 10 cartas de unidades y 10 cartas de utilidad por cada edad.</li>
    <li>El paso de edad se realiza pagando recursos y eligiendo un centro urbano.</li>
    <li>Cada facción genera 1 recurso por turno.</li>
    <li>Los recursos se revelan cuando se coloca una unidad en ellos.</li>
    <li>La posición de los recursos en el tablero es aleatoria en cada partida.</li>
    <li>Las unidades solo se pueden mover hacia adelante o a casillas adyacentes.</li>
    <li>Hay diferentes tipos de recursos: Oro, Éterium, Cenizas de carbón, Esencia nocturna, Escamas de dragón y Esencia vital.</li>
  </ul>   -->

  <ul>
    <li>El juego se desarrolla en un campo de batalla dividido en dos secciones, una para cada jugador. Cada jugador tiene 4 casillas de edificios urbanos, como cuarteles, mercado y generadores de recursos.</li>
    <li>Al comienzo de la partida, cada jugador tiene construidas empalizadas en sus casillas defensivas, proporcionando una defensa básica.</li>
    <li>Cada jugador tiene un centro urbano, que es su carta vital. Si la vida del centro urbano llega a cero, el jugador pierde la partida.</li>
    <li>El juego se divide en 3 edades, cada una con sus propios mazos de unidades, edificios y eventos. Los jugadores tienen tres mazos para cada edad.</li>
    <li>Cada mazo puede contener hasta 50 cartas, incluyendo el centro urbano.</li>
    <li>El paso de edad se realiza pagando recursos específicos para cada edad. Los recursos se adquieren a través de diversas formas.</li>
    <li>Cada turno, los jugadores generan recursos según su facción. Estos recursos pueden ser Oro, Magia y Energía.</li>
    <li>Los recursos se utilizan para adquirir nuevas cartas, construir edificios, generar unidades y jugar eventos especiales.</li>
    <li>Los jugadores pueden utilizar unidades para atacar las casillas enemigas y el centro urbano del oponente.</li>
    <li>Las unidades solo pueden moverse hacia casillas adyacentes a su posición actual en el campo de batalla.</li>
    <li>Durante los combates, las unidades enfrentadas comparan sus atributos y se resuelven los resultados de acuerdo con las reglas de combate establecidas.</li>
    <li>Los jugadores pueden construir nuevos edificios en sus casillas urbanas disponibles para obtener beneficios estratégicos y nuevas habilidades.</li>
    <li>Las cartas de eventos ofrecen acciones especiales y tácticas que los jugadores pueden utilizar para influir en el curso del juego.</li>
    <li>Los jugadores pueden utilizar cartas de hechizos y habilidades para mejorar sus unidades, debilitar al oponente o alterar las condiciones del juego.</li>
    <li>La partida continúa hasta que uno de los jugadores logra reducir la vida del centro urbano del oponente a cero o hasta que se cumplan otras condiciones de victoria establecidas.</li>
  </ul>
 

</div>