<div class="frame mt-" [style.background-image]="'url(' + card.frame + ')'">

  <div class="front-img" [style.background-image]="'url(' + card.front + ')'"></div>

  <div class="card-top">
    <div class="resources" [style.background-image]="goldResource">
      <div class="gold-resource">
        {{card.cost[0]}}
      </div>
      <div class="red-resource" [style.background-image]="redResource">
        {{card.cost[1]}}
      </div>
      <div class="green-resource" [style.background-image]="greenResource">
        {{card.cost[2]}}
      </div>
      <div class="blue-resource" [style.background-image]="blueResource">
        {{card.cost[3]}}
      </div>
    </div>
  </div>

  <div class="card-mid-t">
  </div>

  <div class="card-mid-b">
    <div class="attack" [style.background-image]="atkImg">
      {{ card.atk }}</div>
    <div class="hitpoints" [style.background-image]="hpImg">
      {{ card.hp }}</div>
    <div class="rarity" [style.background-image]="'url(' + card.rarity + ')'"></div>
    <div class="title">{{ card.title }}</div>
  </div>

  <div class="card-bot">
    <div class="details">
      <span *ngIf="card.effectType!=''" style="font-size: 18px; font-variant: small-caps; font-family: 'TxtTitle';">{{
        card.effectType }}: </span>
      <span *ngIf="card.effect!=''" style="font-size: 14px">{{ card.effect }}. </span>
    </div>
    <div *ngIf="card.lore!=''" class="lore">
      {{ card.lore }}
    </div>
    <div *ngIf="card.minionType!=''" class="type" style="text-transform: uppercase">
      {{card.minionType}}
    </div>
  </div>

</div>