* {
    font-size: 18px;
    font-family: 'MistyTxt';
}

.card-container {
    display: flex;
    background-color: rgba(194, 194, 194, 0);
    z-index: -5;
}

.card {
    position: relative;
    width: 600px;
    height: 800px;
    background-color: rgba(194, 194, 194, 0);
}

.frame {
    position: relative;
    background-position: -1px -2.5px;
    /* Adjust the position as desired */
    background-repeat: no-repeat;
    background-color: rgba(194, 194, 194, 0);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.card-top {
    margin-left: -1%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
        ". . . . ."
        ". resources resources resources ."
    ;
    width: 600px;
    height: 200px;
    /* border: 1px solid green; */
}

.card-mid-t {
    margin-left: -1%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
        ". . . . ."
    ;
    width: 600px;
    height: 200px;
    /* border: 1px solid green; */
}

.card-mid-b {
    margin-top: 50px;
    margin-left: -1%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "attack attack rarity hitpoints hitpoints"
        "attack attack rarity hitpoints hitpoints"
        ". title title title ."
    ;
    width: 600px;
    height: 200px;
}

.card-bot {
    margin-left: -1%;
    padding: 0%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
        ". details details details ."
        ". lore lore lore ."

    ;
    width: 600px;
    height: 200px;
}

.front-img {
    position: absolute;
    top: 310px;
    left: 300px;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 525px;
    background-color: rgb(194, 194, 194);
    border: 2px solid rgb(56, 56, 31);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.age {
    text-align: center;
    grid-area: age;
}

.title {
    font-variant: small-caps;
    font-family: 'TxtTitle';
    font-size: 25px;
    margin-top: -9%;
    text-align: center;
    grid-area: title;
    color: black;

    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    filter: drop-shadow(0px 0px 2px white);
    filter: drop-shadow(0px 0px 1px white);
    filter: drop-shadow(0px 0px 3px white);
}


.rarity {
    margin-top: 15%;
    grid-area: rarity;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    transform: scale(0.35);
    filter: drop-shadow(0px 0px 5px white);
}


.resources {
    margin-left: 55px;
    margin-top: 2px;
    text-align: center;
    grid-area: resources;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black;
    filter: drop-shadow(0px 0px 1px black);
    font-size: 12px;
    width: 70%;
    height: 70%;
}


.gold-resource {
    font-size: 35px;
    font-family: 'MistyExtraBold';
    transform: scale(1.1);
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 3px black);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-resource {   
    font-size: 25px;
    font-family: 'MistyExtraBold';
     position: absolute;
    top: 0;
    right: -15px;
    width: calc(50% - -75px);
    height: calc(50% - 0px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 3px black);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.green-resource {
    font-size: 25px;
    font-family: 'MistyExtraBold';
    position: absolute;
    top: -25px;
    left: 0;
    width: calc(50% - -125px);
    height: calc(50% - 0px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 3px black);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blue-resource {
    font-size: 25px;
    font-family: 'MistyExtraBold';
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(50% - -75px);
    height: calc(50% - 0px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 3px black);
}

.attack {
    transform: scale(0.6);
    font-size: 75px;
    text-align: center;
    grid-area: attack;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;

}

.hitpoints {
    transform: scale(0.6);
    font-size: 75px;
    text-align: center;
    grid-area: hitpoints;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;

}

.details {
    text-align: center;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: -10%;
    grid-area: details;
    line-height: 1.00;
}

.lore {
    font-variant: 'MistyTxtItalic';
    text-align: center;
    font-size: 14px;
    grid-area: lore;
    line-height: 1.00;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.type {
    margin-top: 15%;
    text-align: center;
    font-size: 14px;
    grid-area: lore;
    line-height: 1.00;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}