


<div class="game-board">
  <div *ngFor="let cell of cells" class="cell" [style.backgroundColor]="cell.color" cdkDropList
    (cdkDropListDropped)="onDrop($event)">

    <div class="anchor-point">
      <ng-container *ngFor="let element of droppedElements">
      </ng-container>
    </div>
    
    <!-- cell content -->
  </div>
</div>

<div class="game-board">
  <div *ngFor="let card of cards" class="card" cdkDrag [cdkDragData]="card" cdkDropList
    (cdkDropListDropped)="onDrop($event)">
    {{ card.name }}
  </div>
</div>

<!-- <div class="game-board">
  <div class="anchor-point" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <ng-container *ngFor="let element of droppedElements">
    </ng-container>
  </div>
</div> -->