<div class="board">
  <div class="row">
    <div class="card red-card" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card brown-card" *ngFor="let card of brownCards" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card blue-card" *ngFor="let card of blueCards" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card gold-card" *ngFor="let card of goldCards" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card blue-card" *ngFor="let card of blueCards" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card brown-card" *ngFor="let card of brownCards" (click)="openModal()"></div>
  </div>
  <div class="row">
    <div class="card red-card" (click)="openModal()"></div>
  </div>
</div>
