.game-board {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100%;
}

.cell {
  border: 0.5px solid lightsteelblue;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.edge {
  background-color: green;
}

.card {
  border: 0.5px solid lightsteelblue;
  background-color: grey;
  height: 80px;
  width: 60px;
}

.anchor-point {
  padding: 4px;
  min-height: 1px;
  min-width: 1px;
  background-color: lightgray;
}

.dropped-element {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}