@import '~prismjs/themes/prism.css';

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.custom-modal .modal-dialog {
    max-width: 90vw !important;
    width: 90vw !important;
}

div {
    margin: 10px;
    padding: 10px;
}

p {
    margin: 10px;
    padding: 10px;
}