<div style="display: table-row-group; justify-content: center;width: 660px;">
  <button class="btn-sp" (click)="saveAsImage()">Download</button>
  <button class="btn-sp" (click)="switch()">Switch to {{frontView?'back':'front'}}</button>
  <button class="btn-sp" (click)="uploadFront()">Upload front</button>
  <button class="btn-sp" (click)="uploadBack()">Upload back</button>
  <button class="btn-sp" (click)="seePics()">View pics</button>
  <br>
  <div class="container">
    <button class="btn-sp" (click)="randomColor()" (ngModelChange)="randomColor()">Random color</button>
    <input type="color" [(ngModel)]="selectedColor" (ngModelChange)="changeColor()">
    <span [style.background]="selectedColor" class="color-preview"></span>
    <div style="margin: 5px;">{{selectedColor}}</div>
    <span>
      <span *ngFor="let color of neutralColors">
        <button class="btn-sp" [style.backgroundColor]="color" (click)="applyColor(color)"></button>
      </span>
    </span>
  </div>
</div>

<span #cardElement>
  <ng-container *ngIf="frontView">
    <div class="card" [style.border]="changeColor()" [style.backgroundPositionX]="imgHorizontalPosition"
      [style.background-size]="backgroundSize" [style.background-image]="'url(' + img + ')'">
      <div class="faction">
        <div class="faction" [style.background-image]="'url(' + imgFaction + ')'"></div>
        <div class="faction-b"></div>
      </div>
      <div [style.background-color]="changeColor2()" class="rectangle" style="font-stretch: 50%;">{{cardTitle}}</div>
      <div class="color-row-resource" style="justify-content: flex-end; margin-top: -1.5px;margin-right: -20px;">
        <ng-container *ngFor="let resource of colorCodesList">
          <div *ngIf="resource.quantity!=0" [style.background-color]="resource.code"
            [style.boxShadow]="'0 0 10px 5px rgba(0, 0, 0, 0.3)'" class="circle-resource">
            <div class="shadow-resource"></div>
            <div class="number-resource">{{resource.quantity}}</div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="def!='hide'" class="circle bottom-left">
        <div class="circle" style="background-image: url('./assets/images/_general/def.png');"></div>
        <div class="blur"></div>
        <div class="text">{{def}}</div>
      </div>
      <div *ngIf="atk!='hide'" class="circle bottom-right">
        <div class="circle" style="background-image: url('./assets/images/_general/atk.png');"></div>
        <div class="blur"></div>
        <div class="text">{{atk}}</div>
      </div>
      <div class="rectangle-b">&nbsp;</div>
      <div class="effect">
        <p>{{cardEffect}}</p>
      </div>
      <div class="description">
        <p>" {{cardDescription}} " </p>
      </div>
      <div class="diagonal-lines" *ngIf="ageRequired > 0 && ageRequired <= 3">
        <div [style.background-color]="changeColor2()" class="line"></div>
        <div [style.background-color]="changeColor2()" class="line" *ngIf="ageRequired > 1"></div>
        <div [style.background-color]="changeColor2()" class="line" *ngIf="ageRequired > 2"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!frontView">
    <div class="card-back" [style.background-image]="'url(' + imgBack + ')'" [style.border]="changeColor()">
    </div>
  </ng-container>

  <div class="input-container">
    <label>Img horizontal position:</label>
    <input (change)="imgHorizontalPositionParser(imgHorizontalPosition)" type="range" style="width: 300px"
      [(ngModel)]="imgHorizontalPosition" name="imgHorizontalPosition" min="-1000" max="1000">
    <input [(ngModel)]="imgHorizontalPosition" name="imgHorizontalPosition">
    <br>
  </div>

  <div class="input-container">
    <label>Img vertical position:</label>
    <input (change)="imgVerticalPositionParser(imgVerticalPosition)" type="range" style="width: 300px"
      [(ngModel)]="imgVerticalPosition" name="imgVerticalPosition" min="-1000" max="1000">
    <input [(ngModel)]="imgVerticalPosition" name="imgVerticalPosition">
  </div>

  <br>

  <label for="background-size">Background Size: </label>
  <select id="background-size" [(ngModel)]="backgroundSize" name="backgroundSize">
    <option value="auto">Auto</option>
    <option value="contain">Contain</option>
    <option value="cover">Cover</option>
  </select>

  <br>
  <br>

  <strong>If attack or defense is set to the key word 'hide' then the icon will be hidden.</strong>
  <br>
  <label>DEF: </label>
  <input [(ngModel)]="def" name="def">
  <span style="margin: 10px;">
  </span>
  <label>ATK: </label>
  <input [(ngModel)]="atk" name="atk">

  <br>
  <br>

  <label>Faction: </label>
  <select [(ngModel)]="imgFaction">
    <option *ngFor="let f of imgFactions" [value]="f">{{ f }}</option>
  </select>
  <br>
  <br>

  <label>Image: </label>
  <select [(ngModel)]="img">
    <option *ngFor="let i of formattedPaths" [value]="i">{{ i }}</option>
  </select>

  <br>
  <br>
  <label>Card Title: </label>
  <input [(ngModel)]="cardTitle" name="cardTitle">
  <br>

  <br>

  <label>Required resources: </label>
  <div *ngFor="let color of colorCodesList" class="number-box" [style.backgroundColor]="color.code">
    <input type="number" [(ngModel)]="color.quantity" min="0">
  </div>

  <br>
  <br>

  <label>Required age: </label>
  <input type="number" (change)="changeAge()" [(ngModel)]="ageRequired" min="1" max="3">

  <br>
  <br>
  <br>

  <label>Effect: </label> <br>
  <textarea style="width: 600px; height: 100px;" [(ngModel)]="cardEffect" name="cardEffect">
</textarea>

  <br>

  <label>Card description: </label> <br>
  <textarea style="width: 600px; height: 100px;" [(ngModel)]="cardDescription" name="cardDescription">
</textarea>