<div>
  <ul class="nav" style="margin-top: 5px;">
    <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/rules">Rules</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/lore">Lore</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/game-assets-list">Game assets list</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/card-list">Card list</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/card-generic">Card creator</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-info" style="margin-right: 5px;" routerLink="/board">Board</button>
    </li>
    <!-- <li class="nav-item">
      <button type="button" class="btn btn-dark" style="margin-right: 5px;" routerLink="/deck-creator">Deck creator</button>
    </li> -->
  </ul>
</div>

<router-outlet></router-outlet>
