<div class="card-menu" style="height: 39px;" >
  <ul class="nav">
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/rules">Rules</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/lore">Lore</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/game-assets-list">Game assets list</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/card-list">Card list</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/card-generic">Card creator</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark" routerLink="/deck-creator">Deck creator</button>
    </li>
  </ul>
  
</div>    
  
<router-outlet></router-outlet>